
<div class="title">
  <h2><strong>Explore All Favorite Place</strong></h2>
</div>


<div class="container" >
  <% @trips.each do |trip| %>
    <div class="card mb-3 p-2" style=" justify-content: center;">
      <div class="trip-destination"><strong>Destination:</strong> <%= trip.destination %></div>
      <div class="trip-arrival"><strong>Trip Duration:</strong><%= trip.arrival %></div>
      <div class="trip-departure"><%= trip.departure %></div>
      <div class="match-button ">
        <%= link_to "Match Buddies", trip_matches_path(trip) %>
      </div>

      <div class="edit-button position-absolute top-0 end-0 "><%= link_to "✏️", edit_trip_path(trip)%></div>
      <div class="delete-button m-1">
        <%= button_to "Delete", trip, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </div>
    </div>
  <% end %>
</div>
