
<div class="title">
  <h2><strong>Explore More</strong></h2>
</div>


<div class="container" >
  <% @trips.each do |trip| %>
   <div class="card" style="background-image: url('<%= trip.image_url %>'); background-size: cover; background-position: center;">
    <div class="details">
      <div class="trip-destination"><i class="fa-solid fa-plane-departure"></i><%= trip.destination %>
        <div class="edit-button">
          <%= link_to edit_trip_path(trip) do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
        </div>
      </div>
      <div class="trip-arrival"><i class="fa-solid fa-calendar-days"></i><%= trip.arrival.strftime("%d %B") %> - <%= trip.departure.strftime("%d %B") %></div>
    </div>
    <div class="my-trips-buttons">
      <div class="match-button ">
        <%= link_to "Match", trip_matches_path(trip) %>
      </div>
      <%= link_to "Cancel", trip_path(trip), data: { "turbo-method": :delete }, class: "button-cancel" %>
    </div>
  </div>
  <% end %>
</div>
