
<div class="container" >
<div class="title">
  <h2><strong>Explore More</strong></h2>
</div>


  <% @trips.each do |trip| %>

   <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('<%= trip.image_url %>'); background-size: cover; background-position: center;">
    <div class="details">
      <div class="trip-destination"><%= trip.destination %>
        <div class="edit-button">
          <%= link_to edit_trip_path(trip) do %>
            <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
          <% end %>
        </div>
      </div>
      <div class="trip-arrival"><%= trip.arrival.strftime("%d %B") %> - <%= trip.departure.strftime("%d %B") %></div>
    </div>
        <div class="interest"><% trip.interests.each do |interest| %>
            <%= interest.name %>
            <% end %>
          </div>
    <div class="my-trips-buttons">
      <div class="match-button ">
        <%= link_to "Match", trip_matches_path(trip) %>
      </div>
      <div class="button-cancel">
        <%= link_to "Cancel", trip_path(trip), data: { "turbo-method": :delete } %>
      </div>

    </div>
  </div>
  <% end %>
</div>
