<div class="container-chat123">
<%= link_to my_matches_path do %>
<i class="fa-solid fa-arrow-left"></i>
</div>
<% end %>

  <div class="imessage">
    <% if current_user == message.user %>
    <p class="from-me"><%= message.content %></p>
    <div class=message-time-me><%= message.created_at.strftime('%m/%d/%Y %H:%M') %></div>
    <% else %>
    <p class="from-them"><%= message.content %></p>
    <div class=message-time-them><%= message.created_at.strftime('%m/%d/%Y %H:%M') %></div>
    <% end %>
    </div>
