<div class="container d-flex justify-content-center align-items-center">

             <div class="profile-card">

              <div class="upper">

              </div>

              <div class="user text-center">

                <div class="profile">



                  <img src="<%= @user.photo.url %>" class="rounded-circle" width="80">


                </div>

              </div>


              <div class="profile-details text-center">
                <i class="fa-regular fa-pen-to-square"></i>
                <h4 class="mb-0 username"><%= @user.fullname.capitalize %></h4>
                <span class="email d-block mb-2"><%=@user.email%></span>

                <div class="user-bio">
                  <%=@user.bio%>
                </div>

                <div class="d-flex justify-content-between align-items-center mt-4 px-4">

                  <div class="stats">
                    <h5 class="mb-0">Age</h5>
                    <span><%=@user.age%></span>

                  </div>


                  <div class="stats">
                    <h5 class="mb-0">Trips</h5>
                    <span>10</span>

                  </div>


                  <div class="stats">
                    <h5 class="mb-0">Matches</h5>
                    <span>129</span>

                  </div>

                </div>

                 <%= link_to 'Log out', destroy_user_session_path, data: {turbo_method: :delete}, class: 'logout' %>

              </div>

             </div>

           </div>
<%= render 'shared/footer' %>
