<p>Hey <%= @user.first_name %>, Welcome to TripTies✈️</p>

<%= cl_image_tag @user.photo.key, height: 200, width: 300, crop: :fill %>

<div>
<%= @user.first_name %>
<%=  @user.last_name %>
<%= @user.age %>

<%= @user.email %>
</div>\


